<h1>Book</h1>

<div class="container no-gutters">
  <div class="row justify-content-start ">

    <div class="col-8">

      <form [formGroup]="bookForm" autocomplete="off" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input
            [class.is-invalid]="(bookForm.get('isbn').dirty || bookForm.get('isbn').touched) && bookForm.get('isbn').invalid"
            class="form-control" formControlName="isbn" id="isbn" type="text">
          <small class="form-text text-muted">Required, only digits</small>
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input
            [class.is-invalid]="(bookForm.get('title').dirty || bookForm.get('title').touched) && bookForm.get('title').invalid"
            class="form-control" formControlName="title" id="title" type="text">
          <small class="form-text text-muted">Required, no special characters allowed</small>
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          <input
            [class.is-invalid]="(bookForm.get('author').dirty || bookForm.get('author').touched) && bookForm.get('author').invalid"
            class="form-control" formControlName="author" id="author" type="text">
          <small class="form-text text-muted">Required, no special characters allowed</small>
        </div>

        <div class="form-group">
          <label for="language">Language</label>
          <input
            [class.is-invalid]="(bookForm.get('language').dirty || bookForm.get('language').touched) && bookForm.get('language').invalid"
            class="form-control" formControlName="language" id="language" type="text">
          <small class="form-text text-muted">Required, no special characters allowed</small>
        </div>

        <div class="form-group">
          <label for="year">Year</label>
          <input
            [class.is-invalid]="(bookForm.get('year').dirty || bookForm.get('year').touched) && bookForm.get('year').invalid"
            class="form-control" formControlName="year" id="year" type="text">
          <small class="form-text text-muted">Required, only digits</small>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input
            [class.is-invalid]="(bookForm.get('country').dirty || bookForm.get('country').touched) && bookForm.get('country').invalid"
            class="form-control" formControlName="country" id="country" type="text">
          <small class="form-text text-muted">Required, no special characters allowed</small>
        </div>

        <button [disabled]="sending" class="btn btn-primary" type="submit">Save</button>
        <button *ngIf="book" [disabled]="sending" (click)="onDelete()" class="btn btn-primary ml-2" type="button">
          Delete
        </button>
      </form>
    </div>
    <div class="col-4">
      <img *ngIf="book && book.imageLink" alt="{{book.title}}" class="book-cover" src="/assets/{{book.imageLink}}">
      <p *ngIf="book"><small>{{book.notes}}</small></p>
      <p *ngIf="book"><small>{{book.description}}</small></p>
    </div>
  </div>
</div>
